/* Basic */

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@font-face {
    font-family: CircularStd-Medium;
    src: url("../fonts/CircularStd-Medium.otf") format("opentype");
}


h1,
h1,
h3,
h4,
h5,
a {
    font-family: CircularStd-Medium;
    color: #fff;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

p.corner-text {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    font-size: 17px;
    letter-spacing: 4px;
    position: relative;
    top: -395px;
}

span.red-block {
    background: linear-gradient(#FF0000 50%, transparent 50%);
}

.section-heading {
    color: #FF0000;
    border-bottom-style: solid;
    border-bottom-width: .1em;
    width: 10%;
}

.section-heading-intro {
    font-size: 2.2em;
    font-weight: 500;
    letter-spacing: 1.6px;
}

.section-heading-body {
    font-size: 1.2em;
}

.scrollable-section {
    height: 100vh;
}

.scrollable-section.section-three {
    height: 230vh;
}

.scrollable-section.section-four {
    height: 150vh;
}

.scrollable-section.section-five {
    height: 440vh;
}

.scrollable-section.section-six {
    height: 131vh;
}

.scrollable-section.section-seven {
    height: 200vh;
}

.scrollable-section.section-eight {
    height: 600vh;
}


.scrollable-section.section-nine {
    height: 480vh;
}

.container.custom-container {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    height: 900px;
}

.container.custom-container2 {
    position: relative;
    background: #FFF;
    height: 650px;
    width: 500px;
}

.container.custom-container3 {
    position: relative;
    background: #000;
    height: 1200px;
}

.container.custom-container3-1 {
    position: relative;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 57%, rgba(0, 0, 0, 0.4) 84%, rgba(0, 0, 0, 0.33) 87%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 57%, rgba(0, 0, 0, 0.4) 84%, rgba(0, 0, 0, 0.33) 87%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 57%, rgba(0, 0, 0, 0.4) 84%, rgba(0, 0, 0, 0.33) 87%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#54000000', GradientType=0);
    height: 1200px;
}

.container.custom-container4 {
    position: relative;
    height: 650px;
    width: 500px;
}

hr {
    display: block;
    height: 5px;
    border-top: 5px solid red;
    margin-top: 10rem;
    padding: 0;
}

.color-fill {
    position: relative;
    display: inline-block;
    padding: 50px 60px;
    border: 3px solid #2C2C2C;
    color: #2C2C2C;
    font-size: 30px;
    font-family: arial;
    background-image: linear-gradient(#2C2C2C, #2C2C2C);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

.color-fill:hover {
    background-size: 100% 100%;
    color: #2C2C2C;
}

.color-fill2 {
    position: relative;
    display: inline-block;
    padding: 50px 60px;
    border: 3px solid  #FFFFFF;
    color:  #FFFFFF;
    font-size: 30px;
    font-family: arial;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

.color-fill2:hover {
    background-size: 100% 100%;
    color: #fff;
}

.color-fill3 {
    position: relative;
    display: inline-block;
    padding: 50px 60px;
    border: 3px solid #FF0000;
    color: #FF0000;
    font-size: 30px;
    font-family: arial;
    background-image: linear-gradient(#FF0000, #FF0000);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

.color-fill3:hover {
    background-size: 100% 100%;
    color: FF0000;
}

.color-fill4 {
    position: relative;
    display: inline-block;
    padding: 50px 60px;
    border: 3px solid #2741FC;
    color: #2741FC;
    font-size: 30px;
    font-family: arial;
    background-image: linear-gradient(#2741FC, #2741FC);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

.color-fill4:hover {
    background-size: 100% 100%;
    color: #2741FC;
}



/* Custom class */

.btn.custom-btn {
    display: inline-block;
    background: #2741FC;
    color: #fff;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2em;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.custom-btn2 {
    display: inline-block;
    background: transparent;
    color: #fff;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 3px solid #2741FC;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gradient-overlay {
    background: #3c36db;
    background: -moz-linear-gradient(top, #3c36db 1%, #5d30bc 33%, #5d30bc 68%, #4a36d2 98%);
    background: -webkit-linear-gradient(top, #3c36db 1%, #5d30bc 33%, #5d30bc 68%, #4a36d2 98%);
    background: linear-gradient(to bottom, #3c36db 1%, #5d30bc 33%, #5d30bc 68%, #4a36d2 98%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3c36db', endColorstr='#4a36d2', GradientType=0);
}

.text-black {
    color: #000;
}

.text-white {
    color: #FFF;
}

.text-grey {
    color: #CCC;
}

.text-red {
    color: #FF0000;
}

.text-dark {
    color: #707070;
}

.red-overlay {
    background-color: #FF0000;
    opacity: 1;
}

.opacity-img {
    opacity: 0.3;
}

.font-xs {
    font-size: 15px;
}

.font-sm {
    font-size: 20px;
}

.font-md {
    font-size: 25px;
}

.font-lg {
    font-size: 30px;
}

.font-lg-x {
    font-size: 40px;
}

.font-special {
    font-size: 140px;
}

.font-gradient {
    font-size: 140px;
    background: -webkit-linear-gradient(#333, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
}

.font-red-text {
    font-size: 11px;
}

.padding-md {
    padding: 20px;
}

.padding-left-lg {
    padding-left: 120px;
}

.padding-top-sm {
    padding-top: 25px;
}

.padding-top-md {
    padding-top: 50px;
}

.padding-top-lg {
    padding-top: 150px;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%; 
}

.beeldgeluid-logo {
    max-width: 200%;
}

.square {
    border-radius: 2px;
    border: 5px solid #FFF;
    width: 500px;
    height: 650px;
    right: 340px;
    position: absolute;
}


.bg-smiley {
    background-image: url("../images/DesignElementen.png");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-interface1 {
    background-image: url("../images/scherm-1.jpg");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-interface2 {
    background-image: url("/images/scherm-2.1.jpg");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-interface3 {
    background-image: url("../images/scherm-4.jpg");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-interface4 {
    background-image: url("../images/scherm-6.jpg");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-joy1 {
    background-image: url("../images/joy.png");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-rober {
    background-image: url("../images/robert.jpg");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-esmee {
    background-image: url("../images/esmee.jpg");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-iris {
    background-image: url("../images/iris.jpg");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-stefan {
    background-image: url("../images/stefan.jpg");
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 500px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-face {
    background-image: url(../images/face.jpg);
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 70%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    opacity: 0.3;
}

.bg-stripes {
    background-image: url(../images/maxresdefault.jpg);
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 1200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    opacity: 0.1;
}

.bg-stripes2 {
    background-image: url(../images/maxresdefault.jpg);
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 2000px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    opacity: 0.1;
}

.bg-dots {
    background-image: url(../images/Dots.png);
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    opacity: 0.9;
}

.bg-dots2 {
    background-image: url(../images/Dots.png);
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    opacity: 0.5;
}

.bg-joy {
    background-image: url(../images/joyside.png);
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 980px;
    background-repeat: no-repeat;
    background-size: 140% 100%;
    position: absolute;
    opacity: 0.1;
}

.bg-timemachine {
    background-image: url(../images/website-timemachine-model.png);
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 980px;
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    opacity: 0.5;
}

.bg-keyboard {
    background-image: url(../images/keyboard.png);
    line-height: 1.4;
    padding: 120px 50px 50px 50px;
    width: 100%;
    height: 980px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    opacity: 0.1;
}


/* Introductie */

#scrollto-section-1 {
    background-color: #000000;
}

.section-one h1 {
    font-size: 10em;
    margin-left: 14%;
}


/* Research */

#scrollto-section-2 {
    background: #3c36db;
    /* background-color: #2741FC; */
}

.section-two .container {
    padding-top: 5%;
}


/* Concept */

#scrollto-section-3 {
    /* background-image: url('../images/bg-3.jpg'); */
    background: #3c36db;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Product */

#scrollto-section-4 {
    /* background-image: url('../images/bg-4.jpeg'); */
    background: #3c36db;
    background: -moz-linear-gradient(top, #3c36db 20%, #5d30bc 33%, #5d30bc 68%, #4a36d2 98%);
    background: -webkit-linear-gradient(top, #3c36db 20%, #5d30bc 33%, #5d30bc 68%, #4a36d2 98%);
    background: linear-gradient(to bottom, #3c36db 20%, #5d30bc 33%, #5d30bc 68%, #4a36d2 98%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3c36db', endColorstr='#4a36d2', GradientType=0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scrollto-section-5 {
    background: #4a36d2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#scrollto-section-6 {
    background: rgb(172, 24, 96);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#scrollto-section-7 {
    background: rgb(172, 24, 96);
    /* background: -moz-linear-gradient(top, rgba(172,24,96,1) 65%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(172,24,96,1) 65%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(172,24,96,1) 65%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac1860', endColorstr='#ffffff',GradientType=0 ); */
}

#scrollto-section-8 {
    background: #000;
}

#scrollto-section-9 {
    background: #FF0000;
    opacity: 0.8;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .scrollable-section.section-three {
        height: 250vh;
    }
    .scrollable-section.section-eight {
        height: 600vh;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .scrollable-section.section-three {
        height: 240vh;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .scrollable-section.section-three {
        height: 220vh;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .scrollable-section.section-eight {
        height: 340vh;
    }
    .scrollable-section.section-seven {
        height: 80vh;
    }
    .scrollable-section.section-three {
        height: 110vh;
    }
    .scrollable-section.section-five {
        height: 360vh;
    }
    .scrollable-section.section-six {
        height: 100vh;
    }
    .scrollable-section.section-nine {
        height: 420vh;
    }
}