/* Basic */
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@font-face {
    font-family: CircularStd-Medium;
    src: url("../fonts/CircularStd-Medium.otf") format("opentype");
}

h1,h1,h3,h4,h5, a {
    font-family: CircularStd-Medium;
    color: #fff;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
p.corner-text {
     writing-mode: tb-rl;
     transform: rotate(180deg);
     font-size: 17px;
     letter-spacing: 4px;
     position: relative;
     top: -395px;
}

span.red-block {
    background:linear-gradient(#FF0000 50% , #2741FC 50% );
}

.section-heading {
    color : #FF0000;
    border-bottom-style: solid;
    border-bottom-width: .1em;
    width: 10%; 
}

.section-heading-intro {
    font-size: 2.2em;
    font-weight: 500;
}

.section-heading-body {
    font-size: 1.2em;
}

.scrollable-section {
    height: 100vh;   
}

/* Introductie */
#scrollto-section-1 {
    background-color: #000000;
}

.section-one h1 {
    font-size: 10em;
    margin-left: 14%;
}

/* Research */
#scrollto-section-2 {
    background: linear-gradient(#2741FC 80% , #fff );
    /* background-color: #2741FC; */
}

.section-two .container {
    padding-top: 5%;
}

/* Concept */
#scrollto-section-3 {
    /* background-image: url('../images/bg-3.jpg'); */
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Product */
#scrollto-section-4 {
    background-image: url('../images/bg-4.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}